<div class="room_register_container">
 <div class="room_register_main_container">
 <h3 class ="title_logo_3">ルーム情報登録</h3>
  <%= render "shared/error", obj: @rooms %>

  <%= form_with model: @rooms do |f| %>
  <table class= "room_new_table">
     <tr class= "field">
       <th><%= f.label :name ,"ルーム名" ,{class: 'must'} %></th>
       <td><%= f.text_field :name ,placeholder:"ルーム名を入力", class: 'room_register_menu' %></td>
     </tr>

     <tr class= "field">
       <th><%= f.label :introduction ,"ルーム紹介" ,{class: 'must'}%></th>
       <td><%= f.text_area :introduction ,placeholder:"ルーム説明を入力", class: 'room_register_menu'%></td>
     </tr>

     <tr class= "field">
       <th><%= f.label :price ,"料金" ,{class: 'must'}%></th>
       <td><%= f.number_field :price ,placeholder:"一日あたりの料金を入力",class: 'registration_price' %></td>
     </tr>

     <tr class= "field">
       <th><%= f.label :address ,"住所" ,{class: 'must'}%></th>
       <td><%= f.text_field :address ,placeholder:"住所を入力", class: 'room_register_menu' %></td>
     </tr>

     <tr class= "field">
       <th><%= f.label :image,"ルーム画像" ,{class: 'must'} %></th>
       <td><%= f.file_field :image %></td>
     </tr>
    </table>

   <div>
     <ul>
       <li><%= f.submit "登録", class: 'room_register_button' %></li>
     </ul>
   </div>
   <% end %>
  </div>
 </div>
